<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key><string>English</string>
  <key>CFBundleExecutable</key><string>DabberMic</string>
  <key>CFBundleIdentifier</key><string>local.dabber.DabberMic</string>
  <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
  <key>CFBundleName</key><string>DabberMic</string>
  <key>CFBundlePackageType</key><string>BNDL</string>
  <key>CFBundleShortVersionString</key><string>0.7.1</string>
  <key>CFBundleVersion</key><string>1</string>
  <key>CFPlugInFactories</key>
  <dict>
    <key>EC05E976-5D22-4576-AB66-B9E114263212</key><string>BlackHole_Create</string>
  </dict>
  <key>CFPlugInTypes</key>
  <dict>
    <key>443ABAB8-E7B3-491A-B985-BEB9187030DB</key>
    <array><string>EC05E976-5D22-4576-AB66-B9E114263212</string></array>
  </dict>
</dict>
</plist>
